
.contain_topDiv {
     height: 32px;
     line-height: 32px;
     background: #F1F1F1
}
.contain_wrap {
	 font-size: 12px;
	 width: 1200px;
	 margin: 0 auto;
	 background: #F1F1F1
}
.topA {
	background-color: transparent;
	text-decoration: none;
	font: inherit;
	color: inherit;
	*color: #3d3d3d;
	cursor: pointer
}
.clearfix,.module-title,.container {
     *zoom: 1
}
.clearfix:before,.clearfix:after,.module-title:before,.module-title:after,.container:before,.container:after
     {
     display: table;
     content: " ";
     height: 0
}
.clearfix:after,.module-title:after,.container:after {
     clear: both
}
.fl {
     float: left
}
.fr {
	float: right
}
.myhome li {
     float: left
}

.myhome li a {
     padding: 10px 18px
}

.myhome li a:hover {
     color: #2c97f4
}

.myhome li.separator {
     width: 0;
     height: 14px;
     line-height: 14px;
     position: relative;
     top: 10px;
     font-size: 0;
     overflow: hidden;
     border-left: 1px solid #eee
}

.myhome-account {
     position: relative
}

.myhome-account .home-account-list {
     background-color: #f6f6f6;
     display: none;
     position: absolute
}

.myhome-account .iconarrow {
     position: absolute;
     width: 7px;
     height: 4px;
     background-position: -100px 0;
     top: 15px;
     right: 4px
}
.ui-font-blue {
     color: #2c97f4 !important
}

.topicons {
     background: url(images/index-icons.png) no-repeat;
     display: inline-block
}
